@charset "utf-8";
/* CSS Document */

* {
	border: none;
	box-sizing: border-box;
	list-style: none;
}
html {
	font-size: 10px;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-size: 18px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open sans', sans-serif;
	color: #444;
}
.wrapper {
	width: 100%;
	clear: both;
	margin: 0 auto;
}
.header {
	background: rgba(172, 35, 25, 1);
	background: -moz-linear-gradient(left, rgba(172, 35, 25, 1) 0%, rgba(172, 35, 25, 1) 50%, rgba(68, 57, 125, 1) 50%, rgba(68, 57, 125, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(172, 35, 25, 1)), color-stop(50%, rgba(172, 35, 25, 1)), color-stop(50%, rgba(68, 57, 125, 1)), color-stop(100%, rgba(68, 57, 125, 1)));
	background: -webkit-linear-gradient(left, rgba(172, 35, 25, 1) 0%, rgba(172, 35, 25, 1) 50%, rgba(68, 57, 125, 1) 50%, rgba(68, 57, 125, 1) 100%);
	background: -o-linear-gradient(left, rgba(172, 35, 25, 1) 0%, rgba(172, 35, 25, 1) 50%, rgba(68, 57, 125, 1) 50%, rgba(68, 57, 125, 1) 100%);
	background: -ms-linear-gradient(left, rgba(172, 35, 25, 1) 0%, rgba(172, 35, 25, 1) 50%, rgba(68, 57, 125, 1) 50%, rgba(68, 57, 125, 1) 100%);
	background: linear-gradient(to right, rgba(172, 35, 25, 1) 0%, rgba(172, 35, 25, 1) 50%, rgba(68, 57, 125, 1) 50%, rgba(68, 57, 125, 1) 100%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ac2319', endColorstr='#44397d', GradientType=1 );
}
.body {
	margin: 0 auto;
	padding: 0;
	background: #fff url(../images/paisley.png) repeat;
	background-attachment: fixed;
}
.container {
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 *zoom: 1;
}
.container:before, .container:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after {
	clear: both;
}
.header > .container {
	height: 80px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	background: transparent url(../images/header-bg.jpg) no-repeat 50% 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.body > .container {
	background: #f7f5f3;
}
.lhs {
	display: block;
	float:  none;
	padding-top: 0;
	width: 100%;
}
.rhs {
	display: block;
	float: none;
	width: 100%;
}
.img-wrapper {
	position: absolute;
	z-index: 1000;
	height: 156px;
	top: 20px;
	left: 50px;
	display: none;
}
.img-wrapper img {
	display: block;
	width: auto;
	height: 100%;
}
.map {
	border: solid 1px #ddd;
	margin: 20px 0;
	position: relative;
	width: 100%;
}
.caption {
	font-size: 0.8em;
	line-height: 1.9;
	text-align: right;
}
.feature-body {
	clear: both;
	padding: 0;
	width: 100%;
}
.controls {
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	padding: 0;
}
.nav {
	border: dashed 1px #c4c4c4;
	border-width: 1px 0 0;
	border-width: 0;
	margin: 10px 0;
	padding: 0;
}
.nav-link {
	border: dashed 1px #c4c4c4;
	border-width: 1px 0 0;
	display: block;
	color: #036;
	padding: 8px 12px;
	text-decoration: none;
	font-weight: 800;
}
.nav-link.active {
	background-color: #e3e4e5;
	border: dashed 1px #b4b4b4;
	border-width: 1px 0 0;
	color: #a00;
	text-decoration: none;
}
.nav li:first-child .nav-link {
	border-top-color: transparent;
	padding-top: 8px;
}
.nav li:last-child .nav-link {
	border-bottom-color: transparent;
	padding-bottom: 12px;
}

.navbar-toggle {
	background-color: transparent;
	border: solid 1px #fff;
	border-radius: 6px;
	color: #fff;
	margin: 0;
	position: absolute;
	top: 24px;
	right: 1em;
	height: 4rem;
	font-size: 1.6rem;
}
.icon-bar {
	background-color: #fff;
}
.contact {
	border: dashed 1px #c4c4c4;
	border-width: 1px 0;
	color: #fff;
	margin: 20px 0;
	padding: 10px 0;
	background-color: rgba(172,35,25,.95);
	border: none;
	/* responsive */
	margin: 0 -15px;
	padding: 20px;
}
.half {
	display: inline-block;
	line-height: 1.5;
	padding: 0;
	position: relative;
	text-align: left;
	padding-left: .5em;
	width: 49%;
	font-size: 16px;
	margin: 0;
}

.half:first-child {
	text-align: right;
	padding-left: 0;
	padding-right: 1em;
}
.contact img {
	position: absolute;
	left: 16px;
}
.contact a,
.contact a:hover {
	color: #fff;
}
.contact a:hover {
	text-decoration: underline;
}
a {
	color: #036;
	text-decoration: none;
}
a:hover, a:active {
	color: #AC2319;
	text-decoration: underline;
}
.mbs {
	display: inline-block;
}
h1, h2, h3, h4 {
	font-family: 'Georgia', sans-serif;
}
h1 {
	display: block;
	width: auto;
	text-align: left;
	margin: 0;
	padding: 22px 0 0;
	color: #fff;
	font-size: 28px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
	filter: dropshadow(color=#666666, offx=1, offy=1);
}
h2, .h2 {
	border-width: 0;
	background-color: #AC2319;
	color: #fff;
	font-size: 30px;
	font-weight:  400;
	margin: 0 0 24px;
 padding: 12px .625rem 18px;
 text-align: center;
}

#intro .feature-body {
	padding-top: 20px;
}

#intro h2 {
	display: none;
}

table tr:first-child h3 {
	margin-top: 0;
}
p {
	line-height: 1.4;
	margin-top: 0;
padding: 0 .625rem;
}
/* intro */

iframe {
	width: 100%;
	height: 350px;
	padding: 2px;
	border: solid 1px #aaa;
}
.img-link {
	float: right;
	padding: 0 10px 10px 10px;
	width: 20%;
	min-width: 80px;
}

.img-link>img {
	width: 100%;
	height: auto;
}
/* tables */

table {
 margin: 0 .625rem 20px;
 width: 100%;
}
table tr>td,
table tr>th {
	border-bottom: dashed 1px #c4c4c4;
	padding: 4px 1.5em 4px 0;
}
table tr:first-child>td,
table tr:first-child>th {
	border-top: dashed 1px #c4c4c4;
}
tr>td:nth-child(3) {
	width: 10%;
}

tr>td:nth-child(2) {
	width: 30%;
}

h3, .h3, th {
	color: #434343;
	font: 20px 'Open sans', sans-serif;
	font-weight: 600;
	text-align: left;
	margin-bottom: 10px;
	width: auto%;
}
td {
	vertical-align: bottom;
	padding-right: 30px;
}
td p {
	margin: 0 0 20px;
	padding: 0;
}
.svg-icon {
	display: inline-block;
	margin-right: 4px;
	width: 18px;
	height: 18px;
	position: relative;
	top: 2px;
}

/* sticky nav */
.fixed {
	position: static;
	width: auto;
}

#back-to-top {
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-weight: 800;
}

/* media queries */
@media (min-width:472px) {
	h1 {
		font-size: 36px;
		text-align: center;
	}

	.half {
		font-size: 18px;
	}
}
@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
	table {
		width: 100%;
	}
	table tr>td,
	table tr>th {
		border-width: 0;
	}
	table tr:first-child>td,
	table tr:first-child>th {
		border-width: 0;
	}

	tr>td:nth-child(3) {
		width: 10%;
	}

	tr>td:nth-child(2) {
		width: 25%;
	}

 .lhs {
 float:  left;
 padding-top: 85px;
 width: 25%;
}
 .rhs {
 float: left;
 width: 75%;
}
 .container {
 width: 750px;
}
 .header > .container {
 height: 100px;
}
 .fixed {
 position: fixed;
 top: 0;
 width: 180px;
}
 .img-wrapper {
 display: block;
}
 #intro {
 margin-top: 40px;
}

#intro h2 {
	display: block;
}

#intro .feature-body {
	padding-top: 0;
}

 h1 {
 padding-top: 30px;
}
 h2, .h2 {
	 background-color: transparent;
	 color: #AC2319;
	 padding: 12px 0 18px;
	 border: dashed 1px #b4b4b4;
	 border-width: 1px 0;
	 text-align: left;
}

.navbar-nav.nav {
	border-width: 1px 0;
	float: none;
}

.navbar-nav.nav>li {
	float: none;
}

.contact {
background-color: rgba(172,35,25,.95);
border: none;
color: #fff;
margin: 20px 0;
}
 .half {
 float: none;
font-size: 13px;
padding: 8px 16px;
width: auto;
}
 .contact img {
 left: 0;
}

 .feature-body {
 padding: 0 30px 0 30px;
}
 .controls {
padding: 20px 20px 10px;
}
 table {
margin: 0 0 20px;
}

.half,
.half:first-child {
	display: block;
	line-height: 1.5;
	padding: 0;
	position: relative;
	text-align: left;
	padding-left: 0;
	width: auto;
	font-size: 16px;
	margin: 0;
}

.half:first-child {
	margin-bottom: 1rem;
}

.rhs > div:last-child {
	margin-bottom: 80vh;
}


 @media (min-width: 992px) {
 .container {
 width: 970px;
}
 .fixed {
 width: 235px;
 top: 0;
}

 h1 {
 font-size: 48px;
 padding-top: 18px;
}
 .half {
font-size: 15px;
}

.half,
.half:first-child {
	padding-left: 0;
}

.contact {
	margin: 20px;
}

.contact img {
 left: 12px;
}
tr>td:nth-child(3) {
	width: 10%;
}

tr>td:nth-child(2) {
	width: 20%;
}
}
 @media (min-width: 1200px) {
 .container {
 width: 1170px;
}
 .fixed {
 width: 285px;
}
}
